<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="Webbhuset_CollectorBankCheckout_sales_model_service_quote_submit_before" instance="Webbhuset\CollectorBankCheckout\Observer\SaveOrderBeforeSalesModelQuoteObserver" />
    </event>
    <event name="sales_quote_save_after">
        <observer name="Webbhuset_CollectorBankCheckout_sales_quote_save_after" instance="Webbhuset\CollectorBankCheckout\Observer\QuoteSaveObserver" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="Webbhuset_CollectorBankCheckout_update_order_items_changed" instance="Webbhuset\CollectorBankCheckout\Observer\UpdateOrderItemsChanged" />
    </event>
</config>
