<div class="collector-items">
    <div class="items-header">
        <div class="column-left">
            <span data-bind="text: $t('Product')"></span>
        </div>
        <div class="column-right">
            <span data-bind="text: $t('Qty')"></span>
            <span data-bind="text: $t('Price')"></span>
        </div>
    </div>
    <ol id="collector-cart" class="items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
        <div data-bind="template: { name: 'Webbhuset_CollectorBankCheckout/cart/item/default' }"></div>
    </ol>
</div>


<style>
    .collectorcheckout-index-index .cart-container {
        width: 50%;
        float: right;
    }

    .collectorcheckout-index-index .form-discount {
        display: flex;
    }
    .collectorcheckout-index-index .form-discount .actions-toolbar {
        display: flex;
        flex: 1 1 100%;
    }

    .collectorcheckout-index-index .form-discount .primary {
        width: 100%;
    }

    .collectorcheckout-index-index .form-discount .primary button {
        width: 100%;
        height: 100%;
        background: #5CA375;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        border: none;
        color: #fff;
        font-size: 18px;
    }

    .collectorcheckout-index-index .form-discount .primary button:hover {
        background: #599E71;
    }

    .collectorcheckout-index-index .form-discount .payment-option-inner {
        display: flex;
        flex: 1 1 100%;

        margin-right: 8px;
    }

    .collectorcheckout-index-index .form-discount input {
        padding: 24px 16px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .collectorcheckout-index-index .form-discount input:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .collectorcheckout-index-index .form-discount .payment-option-inner .field {
        width: 100%;
    }

    .collector-items .items-header {
        display: flex;
        flex-flow: row wrap;
        padding: 16px 8px;
        border-bottom: 1px solid black;
    }

    .collector-items .items-header span {
        font-weight: 700;
    }

    .collector-items .product-item-details {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        border-bottom: 1px solid #cccccc;
        padding: 16px 8px;
    }

    .collectorcheckout-index-index .cart-totals {
        border: none;
    }

    .collector-items .product-item-details>* {
        align-self: center;
    }

    .collector-items .column-left {
        display: flex;
        flex: 1 0 300px;
    }

    .collector-items .column-right {
        display: flex;
        flex: 1 0 200px;
        justify-content: space-between;
    }

    .collector-items .column-remove {
        margin-right: 24px;
        display: flex;
        flex: 0 1 auto;
    }

    .collector-items .column-image {
        margin-right: 16px;
        display: flex;
        flex: 0 1 auto;
    }

    .collector-items .column-price {
        flex: 1 1 auto;
    }

    .collector-items .column-price>div {
        display: flex;
        justify-content: flex-end;
    }

    .collector-items .price-wrapper>span {
        text-align: right;
    }

    .collector-items .column-qty {
        display: flex;
        flex-direction: row;
    }

    .collector-items .column-qty>* {
        flex: 1 0 auto;
    }

    .collector-items .item-qty {
        width: 40px;
        text-align: center;
        border: 0;
        margin: 0 10px;
        align-self: center;
    }
    .collector-items .item-qty:focus {
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .collector-items .column-product-info {
        display: flex;
        flex: 1 1 200px;
        flex-direction: column;
    }

    .collector-items .action {
        display: flex;
        justify-content: center;
        height: 20px;
        width: 20px;
        padding: 0;
        background: white;
        border: 0;
        align-self: center;


        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);

    }

    .collector-items .action:focus {
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    }

    .collector-items .action:focus {
        outline: 0;
    }

    .collector-items .product-item-name {
        font-weight: 700;
    }

    .collector-items .product.options.list .label {
        font-weight:  normal;
        display: inline-block;
    }

    .collector-items .product.options.list .values {
        display: inline-block;
    }

    .collector-items .action img {
        width: 70%;
        height: 70%;
    }

    .collector.qty-input {
        display: flex;
        flex-direction: row;
    }
    .collector.qty-input input {
        border: 0
    }

    .collector.qty-input input:focus {
        outline: 0;
        box-shadow: none;
    }
</style>
